contrib/store/api/src/main/resources/model/PersistenceStoreRESTfulInterface.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
   Licensed to the Apache Software Foundation (ASF) under one or more
   contributor license agreements.  See the NOTICE file distributed with
   this work for additional information regarding copyright ownership.
   The ASF licenses this file to You under the Apache License, Version 2.0
   (the "License"); you may not use this file except in compliance with
   the License.  You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->

<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by cds (aaaaaa) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="model.rest.persistence.iks.srdc.com.tr" xmlns:xlink="http://www.w3.org/1999/xlink" targetNamespace="model.rest.persistence.iks.srdc.com.tr" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xsd:import namespace="http://www.w3.org/1999/xlink" schemaLocation="xlinks.xsd"/>
	<!-- AdministeredOntologies -->
	<xsd:element name="AdministeredOntologies">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="tns:OntologyMetaInformation" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="OntologyMetaInformation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="tns:URI"/>
				<xsd:element ref="tns:Description" minOccurs="0"/>
			</xsd:sequence>
			<xsd:attribute ref="xlink:href" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<!-- ********************** -->
	<xsd:element name="ClassesForOntology">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="tns:OntologyMetaInformation"/>
				<xsd:element ref="tns:ClassMetaInformation" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DatatypePropertiesForOntology">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="tns:OntologyMetaInformation"/>
				<xsd:element ref="tns:PropertyMetaInformation" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ObjectPropertiesForOntology">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="tns:OntologyMetaInformation"/>
				<xsd:element ref="tns:PropertyMetaInformation" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IndividualsForOntology">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="tns:OntologyMetaInformation"/>
				<xsd:element ref="tns:IndividualMetaInformation" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<!-- FIXME: You may wish to combine ClassMetaInformation, PropertyMetaInformation, IndividualMetaInformation-->
	<xsd:complexType name="ResourceMetaInformationType">
		<xsd:sequence>
			<xsd:element ref="tns:URI"/>
			<xsd:element ref="tns:Description" minOccurs="0"/>
			<xsd:element name="Namespace" type="xsd:string"/>
			<xsd:element name="LocalName" type="xsd:string"/>
		</xsd:sequence>
		<xsd:attribute ref="xlink:href" use="required"/>
	</xsd:complexType>
	<xsd:element name="ClassMetaInformation">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="tns:ResourceMetaInformationType"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PropertyMetaInformation">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="tns:ResourceMetaInformationType"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IndividualMetaInformation">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="tns:ResourceMetaInformationType"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="BuiltInResource">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="tns:URI"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ClassConstraint">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="tns:ClassConstraint"/>
					<xsd:element ref="tns:ClassMetaInformation"/>
					<xsd:element ref="tns:PropertyMetaInformation"/>
					<xsd:element name="Literal" type="tns:non_empty_string"/>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attribute name="type" type="tns:ConstraintType" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ClassContext">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="tns:ClassMetaInformation"/>
				<xsd:element ref="tns:EquivalentClasses"/>
				<xsd:element ref="tns:Superclasses"/>
				<xsd:element ref="tns:DisjointClasses"/>
				<xsd:element ref="tns:ClassConstraint" minOccurs="0" maxOccurs="unbounded"/>
				<!--xsd:element ref="tns:Individuals" minOccurs="0" maxOccurs="1"/-->
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DatatypePropertyContext">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="tns:PropertyMetaInformation"/>
				<xsd:element ref="tns:Domain" minOccurs="0"/>
				<xsd:element ref="tns:Range" minOccurs="0"/>
				<xsd:element ref="tns:EquivalentProperties"/>
				<xsd:element ref="tns:SuperProperties"/>
				<!--xsd:element ref="tns:Individuals" minOccurs="0" maxOccurs="1"/-->
			</xsd:sequence>
			<xsd:attribute name="isFunctional" type="xsd:boolean" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ObjectPropertyContext">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="tns:PropertyMetaInformation"/>
				<xsd:element ref="tns:Domain" minOccurs="0"/>
				<xsd:element ref="tns:Range" minOccurs="0"/>
				<xsd:element ref="tns:EquivalentProperties"/>
				<xsd:element ref="tns:SuperProperties"/>
				<!-- Inverse -->
				<!-- Disjoint -->
				<!-- Property Chains-->
				<!--xsd:element ref="tns:Individuals" minOccurs="0" maxOccurs="1"/-->
			</xsd:sequence>
			<xsd:attribute name="isFunctional" type="xsd:boolean" use="required"/>
			<xsd:attribute name="isInverseFunctional" type="xsd:boolean" use="required"/>
			<xsd:attribute name="isTransitive" type="xsd:boolean" use="required"/>
			<xsd:attribute name="isSymmetric" type="xsd:boolean" use="required"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="IndividualContext">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="tns:IndividualMetaInformation"/>
				<xsd:element ref="tns:ContainerClasses"/>
				<xsd:element ref="tns:PropertyAssertions"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ContainerClasses">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="tns:ClassMetaInformation" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="PropertyAssertions">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="PropertyAssertion" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element ref="tns:PropertyMetaInformation"/>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref="tns:IndividualMetaInformation"/>
								<xsd:element name="Literal" type="tns:non_empty_string"/>
							</xsd:choice>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Domain">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="tns:ClassMetaInformation"/>
				<xsd:element ref="tns:BuiltInResource"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Range">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="tns:ClassMetaInformation"/>
				<xsd:element ref="tns:BuiltInResource"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EquivalentClasses">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="tns:ClassMetaInformation" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="Superclasses">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="tns:ClassMetaInformation" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="DisjointClasses">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="tns:ClassMetaInformation" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="EquivalentProperties">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="tns:PropertyMetaInformation" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SuperProperties">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="tns:PropertyMetaInformation" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="URI" type="tns:non_empty_string"/>
	<xsd:element name="Description" type="xsd:string"/>
	<xsd:simpleType name="non_empty_string">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ConstraintType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="complement_of"/>
			<xsd:enumeration value="enumeration_of"/>
			<xsd:enumeration value="intersection_of"/>
			<xsd:enumeration value="union_of"/>
			<xsd:enumeration value="all_values_from"/>
			<xsd:enumeration value="some_values_from"/>
			<xsd:enumeration value="cardinality"/>
			<xsd:enumeration value="max_cardinality"/>
			<xsd:enumeration value="min_cardinality"/>
			<xsd:enumeration value="has_value"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:element name="OntologyImport">
	<xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:URI"/>
        <xsd:element ref="tns:Description" minOccurs="0"/>
      </xsd:sequence>
      <xsd:attribute ref="xlink:href" use="required"/>
    </xsd:complexType>
	</xsd:element>

    <xsd:element name="ImportsForOntology">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="tns:OntologyMetaInformation"/>
        <xsd:element ref="tns:OntologyImport" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
    </xsd:element>
</xsd:schema>
